body{
    background: linear-gradient(90deg,rgb(137, 233, 178),rgb(255, 255, 255),rgb(199, 184, 137));
}
#map {
    height: 500px;
    width: 80%;
    background-color: #ffffff;
    margin: auto; /* centra mapa */
    z-index: 2;
}


/* coordenades ratoli */
#coordenades {     
    display: block;
    position: relative;
    margin: 0px auto;
    width: 40%;
    min-width: 350px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: #000;
    /* background: #D6EAF8; */
    margin-top: 7px;
}

/* popup */
h4.popup {
    font-size: 2.1em;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p.popup {
    margin: 8px 0px;
    font-size: 1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.popup-description{
    font-size: 1em;
    font-weight: 550;
}

#popupcoord  {
    margin-top: 16px;
    font-size: 1.4em;
    font-family: 'PT Serif', serif;
}
hr.popup{
    margin-top: 0.1px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  /* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.form-text {
  min-width: 200px;
}
.form-label{
  font-size: 14px;
  margin-top: 8px;
}

/* Getfeaturesinfo */
#features {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  }
  #map canvas {
  cursor: crosshair;
  }

  /* Descripcio, get features info */
  #geologicDescription {     
    display: block;
    position: relative;
    margin: 0px auto;
    /* width: 40%; */
    min-width: 350px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: #000;
    /* background: #D6EAF8; */
  
}

td.leftTabEl {
    text-align: left;
  }