body{
    background: linear-gradient(90deg,rgb(137, 233, 178),rgb(255, 255, 255),rgb(199, 184, 137));
}
#map {
    height: 500px;
    width: 80%;
    background-color: #ffffff;
    margin: auto; /* centra mapa */
}


/* coordenades ratoli */
#coordenades {     
    display: block;
    position: relative;
    margin: 0px auto;
    width: 40%;
    min-width: 350px;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: #000;
    /* background: #D6EAF8; */
    margin-top: 7px;
}

/* popup */
h4.popup {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
}
p.popup {
    margin: 8px 0px;
    font-size: 1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.popup-description{
    font-size: 1em;
    font-weight: 550;
}

#popupcoord  {
    margin: 12px 0px;
    font-size: 1.4em;
    font-family: 'PT Serif', serif;
}
hr.popup{
    margin-top: 0.1px;
}